$borderWidth: 4px;
$height: 24px;
$width: 12px;
$borderColor: #78b13f;

.checkmark_icon {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#ccc;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#ccc;
    left:8px;
    top:12px;
}

.check-mark {
  display: inline-block;
  transform: rotate(45deg);
  height: $height;
  width: $width;
  border-bottom: $borderWidth solid $borderColor;
  border-right: $borderWidth solid $borderColor;
}

.checkmark-tick--container {
    border: 1px solid #6cc0e5;
    box-sizing: border-box;
    opacity: .6;
    width: 26px;
    height: 26px;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.checkmark-tick {
    position: relative;
    display: inline-block;
    width: 65%;
    height: 65%;
    transition: 'transform 200ms ease-out, background 200ms ease-out',
}

.checkmark-tick::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    border-radius: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: rgb(125, 236, 171);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

.checkmark-tick::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(125, 236, 171);
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

[data-reach-custom-checkbox-container] {
  
  border-radius: 3px;
  border: 1px solid #6cc0e5;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
// [data-reach-custom-checkbox-input] {

// }
[data-reach-custom-checkbox-input][aria-checked="true"] {
    bottom: -10px;
    background-color: rgb(125, 236, 171);
    content: "";
    border: none;
    transform: translateX(20px) translateY(20px) rotate(-45deg);
    transform-origin: left bottom; 
}
[data-reach-custom-checkbox-input][aria-checked="false"] {
    border-radius: 3px;
    border: 1px solid #6cc0e5;
}
// [data-reach-custom-checkbox-input][aria-checked="mixed"] {
// }